-rrequirements.txt
jedi<0.16,>=0.15.0
autoflake
autopep8
bumpversion
epc
flake8
flake8-mypy
importmagic
ipython
ptvsd>=4.2
pur
pydocstyle
pylint
pyls-isort
pyls-mypy
pytest
tox
yapf
virtualenvwrapper
twine
wheel

